<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.75">
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<title>The Cross Central</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='icons.css') }}"/>
	</head>

	<body>
		<header>Index of <span class="path">/{{ path }}</span></header>
		<ul>
			{% if path and not path.split("/")[-1].startswith(".") %}
				<li><a class="parent" href="{{ url_for('browse', rel_path=path_parent) }}">⬅ Parent</a></li>
			{% endif %}
			{% if not error %}
				{% for entry in entries %}
					{% if not entry.filename.startswith(".") %}
						<li>
							{% if entry.is_dir %}
								<a class="folder" href="{{ url_for('browse', rel_path=entry.filepath) }}">
									<span class="fiv-viv fiv-icon-folder"></span> {{ entry.filename }}
								</a>
							{% else %}
								<a class="file" href="{{ url_for('browse', rel_path=entry.filepath) }}">
									<span class="fiv-viv fiv-icon-{{ entry.extension }}"></span> {{ entry.filename }}
								</a>
							{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			{% else %}
				<li><em>{{ error }}</em></li>
			{% endif %}
		</ul>
	</body>
</html>
