<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>The Cross Central</title>
		<meta name="viewport" content="width=device-width, initial-scale=0.75">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/file-icon-vectors@1.0.0/dist/file-icon-vivid.min.css"/>
	</head>

	<body>
		<header>Index of <span class="path">/{{ path }}</span></header>
		<ul>
			{% if path and not path.split("/")[-1].startswith(".") %}
				<li><a class="parent" href="{{ url_for('browse', rel_path=path_parent) }}">⬅ Parent</a></li>
			{% endif %}
			{% for entry in entries %}
				{% if not entry.filename.startswith(".") %}
					<li>
						{% if entry.is_dir %}
							<span class="fiv-viv fiv-icon-folder"></span>
							<a class="folder" href="{{ url_for('browse', rel_path=entry.filepath) }}">{{ entry.filename }}</a>
						{% else %}
							<span class="fiv-viv fiv-icon-{{ entry.filename.split('.')[-1] }}"></span>
							<a class="item" href="{{ url_for('browse', rel_path=entry.filepath) }}">{{ entry.filename }}</a>
						{% endif %}
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</body>
</html>
