<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.75">
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<title>The Cross Central</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
	</head>

	<body>
		<header>Index of <span class="path">/{{ path }}</span></header>
		<ul>
			{% if path and not path.split("/")[-1].startswith(".") %}
				<li><a class="parent" href="{{ url_for('browse', rel_path=path_parent) }}">⬅ Parent</a></li>
			{% endif %}
			{% if not error %}
				<li>
					<a class="file" href="{{ url_for('browse', rel_path=path) }}?download=1">
						⬇️ Download "{{ path.split("/")[-1] }}"
					</a>
				</li>
			{% else %}
				<li><em>{{ error }}</em></li>
			{% endif %}
		</ul>
		{% if preview and not error %}
			{% if mimetype.startswith('image/') %}
				<img class="preview" src="{{ url_for('browse', rel_path=path) }}?inline=1" alt="{{ filename }}"/>
			{% elif mimetype.startswith('video/') %}
				<video class="preview" controls oncanplay="this.volume=0.2">
					<source src="{{ url_for('browse', rel_path=path) }}?inline=1" type="{{ mimetype }}">
					Your browser does not support this video tag.
				</video>
			{% elif mimetype.startswith('audio/') %}
				<audio class="preview" controls oncanplay="this.volume=0.2">
					<source src="{{ url_for('browse', rel_path=path) }}?inline=1" type="{{ mimetype }}">
					Your browser does not support this audio element.
				</audio>
			{% endif %}
		{% endif %}
	</body>
</html>
