<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.75">
		<meta property="og:url" content="{{ url_for('browse', rel_path=path, _external=True) }}">
		<meta property="og:title" content="{{ entry.filename }}">
		{% if not error and entry.mimetype.startswith('image:') %}
			<meta property="og:image" content="{{ url_for('browse', rel_path=path) }}?inline=1">
		{% endif %}
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<title>{{ entry.filename }}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
	</head>

	<body>
		<header>Index of <span class="path">/{{ path }}</span></header>
		<ul>
			{% if path %}
				<li><a class="parent" href="{{ url_for('browse', rel_path=dirname(path)) }}">⬅ Parent</a></li>
			{% endif %}
			{% if not error %}
				<li><a class="file" href="{{ url_for('browse', rel_path=path) }}?download=1">⬇ Download "{{ entry.filename }}"</a></li>
			{% else %}
				<li><em>{{ error }}</em></li>
			{% endif %}
		</ul>
		{% if not error %}
			{% if entry.mimetype.startswith('image:') %}
				<img class="preview" src="{{ url_for('browse', rel_path=path) }}?inline=1" alt="{{ entry.filename }}"/>
			{% elif entry.mimetype.startswith('video:') %}
				<video class="preview" controls oncanplay="this.volume=0.2">
					<source src="{{ url_for('browse', rel_path=path) }}?inline=1">
					Your browser does not support this video tag.
				</video>
			{% elif entry.mimetype.startswith('audio:') %}
				<audio class="preview" controls oncanplay="this.volume=0.2">
					<source src="{{ url_for('browse', rel_path=path) }}?inline=1">
					Your browser does not support this audio element.
				</audio>
			{% elif entry.mimetype.startswith('text:') %}
				<pre class="preview">{{ entry.content }}</pre>
			{% endif %}
		{% endif %}
	</body>
</html>
