html, body {
	margin: 0;
	padding: 0;
	min-height: 100vh;

	background-color: #1a1a1a;
	color: #ffffff;

	font-size: 20px;
	font-family: monospace;
	line-height: 1.5;
}

header {
	font-size: 24px;
	font-weight: bold;
	padding: 5px;
	background-color: #333333;
	border-bottom: 2px solid #555555;
}
header > .path {
	color: #efce4a;
	background-color: #252525;
	border-radius: 10px;
	padding: 0px 5px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

li { padding: 0px 20px; }
li:nth-child(odd) { background-color: #1a1a1a; }
li:nth-child(even) { background-color: #252525; }
li > a .fiv-viv { transform: scale(1.2); background-image: url("./icons/mp4.svg") }
li > a { color: #8888ff; text-decoration: none; line-break: anywhere; }
li > a.parent { color: #efce4a; text-decoration: underline; }
li > a.folder { color: #d9d9d9; }
li > a.file { color: #8888ff; }
li > a:hover { filter: brightness(150%); cursor: pointer; }
li > a:active { filter: brightness(75%); }
